* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.scroll-bar::-webkit-scrollbar { 
    width: 4px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 10px;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.logo {
    width: 64px;
}

.header {
    background-color: rgb(226 232 240);
    border-radius: 10px;
    margin: 6px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px rgb(226 232 240);
}

.header-1 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-1-text {
    font-size: 30px;
    font-weight: bold;
}

.w-10 {
    width: 40px;
}

.header-2 {
    align-items: center;
    display: flex;
}

.header-2-btn {
    background-color: rgb(24 24 27);
    color: rgb(241 245 249);
    font-size: 20px;
    padding: 12px;
    border-radius: 8px;
    transition: 0.5s;
    border-width: 0;
    cursor: pointer;
}

.header-2-btn:hover {
    scale: 1.05;
}

.form {
    width: 50%;
    margin: auto;
}

.tasks-main {
    display: grid;
    gap: 6px;
    width: 60%;
    margin: auto;
    background-color: rgb(226 232 240);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 20px rgb(226 232 240);
}

.tasks-main-headtext {
    margin: 25px auto 25px auto;
    width: max-content;
}

.task-div {
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 12px;
    gap: 10px;
    margin: 0 6px 0 6px;
    border-bottom: 2px solid #969696;
}

.task-title {
    font-size: 24px;
}

.task-description {
    font-size: 18px;
    line-height: 1.6;
    max-height: 115px;
    overflow-y: auto;
}

.task-industry {
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    width: max-content;
    display: block;
}

.industry-main-div {
    display: flex;
    gap: 10px;
}

.task-budget {
    font-size: 20px;
    text-align: center;
}

.col-2 {
    align-self: center;
    gap: 15px;
    display: grid;
}

#div1 {
    margin-top: 60px;
}