@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: rgb(16,16,20);        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    /* цвет плашки */
    border-radius: 10px;       /* закругления плашки */
  }

  .scroll-bar::-webkit-scrollbar {
    width: 4px;
  }

  .scroll-bar::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 10px;
  }